<form action="<%= notes_url %>" method="post" class="create_note_form">
      <%= auth_token %>
      <input type="hidden" name="note[track_id]" value="<%= track.id %>">
      <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
      <textarea name="note[text]" id="note_text" cols="28" rows="10" placeholder="Write a note..."></textarea>
      <input type="submit" value="Create Note" class="login_signup_button delete_button">
</form>