<table class="album_table">
  <caption>Track</caption>
  <tr>
    <td>Title:</td>
    <td><%= track.title %></td>
  </tr>
  <tr>
    <td>Album:</td>
    <td><%= track.album.title %></td>
  </tr>
  <tr>
    <td>Track Number:</td>
    <td><%= track.ord %></td>
  </tr>
</table>