<h1>Edit <%= @track.title %></h1>

<div class="band_card">
    <%= render 'form', track: @track, album: @album, band: @band, action: "edit" %>

    <a href="<%= track_url(@track) %>" class="login_signup_button">Back To Track</a>
</div>
