<h1>New Track for <%= @album.title %> Album</h1>

<div class="band_card">
    <%= render 'form', track: @track, album: @album, band: @band, action: "create" %>

    <a href="<%= album_tracks_url(@album) %>" class="login_signup_button">Back To Tracks</a>
</div>

