<% action_url = (action == "signup") ? users_url : session_url %>
<% submit_value = (action == "signup") ? "Signup" : "Login" %>


<form action="<%= action_url %>" method = "post" class="login_signup_form">
    <%= auth_token %>

    <% if action == "signup" %>
        <div class="input_field_holder">
            <label for="user_username">Username:</label>
            <input type="text" name="user[username]" id="user_username">
        </div>
    <% end %>

    <div class="input_field_holder">
        <label for="user_email">Email:</label>
        <input type="email" name="user[email]" id="user_email">
    </div>
    <div class="input_field_holder last_input">
        <label for="user_password">Password:</label>
        <input type="password" name="user[password]" id="user_password">
    </div>

    <input type="submit" value="<%= submit_value %>" class="login_signup_button">
</form>