<table class="album_table">
    <caption>Album</caption>
    <tr>
        <td>Title:</td>
        <td><%= album.title %></td>
    </tr>
    <tr>
        <td>Year:</td>
        <td><%= album.year %></td>
    </tr>
    <tr>
        <td>Album Type:</td>
        <td><%= album.album_type %></td>
    </tr>
    <tr>
        <td>Band:</td>
        <td><%= album.band.name %></td>
    </tr>
</table>