<h1>Edit Album "<%= @album.title %>" for <%= @band.name %></h1>

<div class="band_card">
    <%= render "form", action: "edit", band: @band, album: @album %>
    <a href="<%= band_albums_url(@band) %>" class="login_signup_button">Back To Albums</a>
</div>
