<h1>New Album for <a href="<%= band_url(@band) %>" class="band_name"><%= @band.name %></a></h1>

<div class="band_card">
    <%= render "form", action: "create", band: @band, album: @album %>
    <a href="<%= band_albums_url(@band) %>" class="login_signup_button">Back To Albums</a>
</div>