// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.radio_button_label {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 20px;
}

.radio_button_holder {
    width: 80%;
    margin-bottom: 20px;
}