// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.radio_button_label {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 20px;
}

.radio_button_holder {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

.album_table {
    caption {
        margin-bottom: 5px;
    }
    td {
        padding: 2px;
        border: 1px solid var(--music-gray);
        border-collapse: collapse;
    }
}

.band_name {
    color: var(--music-green);
    text-decoration: none;
}