// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin center_button {
    margin: 5px auto;
}

.band_card {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    justify-content: center;
    border: 1px solid var(--music-gray);
    border-radius: 5px;
    margin: 10px;
    min-width: 320px;

    a {
        @include center_button;
    }
}

.create_band_button {
    @include center_button;
}